@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  color: #000000;
  background-color: #ffffff;
  color: #3d3e40;
}


.flex-gap {
  display: flex;
  --gap: 2rem; /* Cambiar el valor según lo necesario */
  gap: var(--gap);
}

.rotating-div {
  animation-name: rotate;
  animation-duration: 4s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.max-w-900{
  max-width: 900px;
}
.hover{
  transition: all 0.4s;
}
.transform:hover{
  transform: scale(0.9)
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.presentacion{
  max-width: 400px;
}
@media only screen and (max-width: 768px){
  .navbar--open {
      display: block;
      position: absolute;
      display: flex;
      flex-direction: column;
      justify-content: top;
      align-items: top;
      top: 90px;
      right: 0px;
      padding-top: 20px;
      min-width: 100%;
      height: 100vh;
      background-color: #ffffff;
      z-index: 100;
      gap: 30px;
      text-align: center;
  }
  .sm-px-4{
    padding: 35px 25px;
  }
}